@charset "UTF-8";

body {
  font-family: "Lato",sans-serif;
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.inner {
  width: 1100px;
  margin: 0 auto;
}


.font-raleway {
  font-family: "Raleway",sans-serif;
}


.text-center {
  text-align: center;
}


.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-inner {
  padding: 15px 0;
}

.my-bolt {
  float: left;
  color: #4e4e4e;
}

.header_contact-icon {
  float: right;
  padding: 12px 14px;
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  display: block;
}

.hamburger-menu {
  display: none;
}


main {
  padding-top: 66px;
}

.title {
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
}

.title h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title p {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}


.section {
  background-color: #74cfae;
}

.section-inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.section-inner_contents {
  color: #fff;
}

.section-inner_contents h2 {
  font-size: 24px;
  margin-top: 30px;
}

.section-inner_contents p {
  width: 650px;
  font-size: 20px;
  line-height: 150%;
  margin-top: 35px;
}


.article {
  background-color: #f2f2f2;
}

.article-inner {
  padding: 60px 0 70px 0;
}

.article-inner h2 {
  font-size: 24px;
  color: #333;
}

.article-inner_img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.img-container_item {
  opacity: 0.7;
  transition: all 0.3s;
  margin: 80px 0 0 100px;
}
.img-container_item:nth-child(-n+3) {
  margin-top: 0;
}

.img-container_item:nth-child(3n+1) {
  margin-left: 0;
}

.img-container_item a {
  display: inline-block;
}

.img-container_item img {
  vertical-align: bottom;
}

.img-container_item:hover {
  opacity: 1;
}

.article-inner_message-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}

.article-inner_message-container p {
  line-height: 130%;
  color: #333;
  width: 460px;
}

.article-inner_message-container a {
  margin-left: 90px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #f2f2f2;
  font-size: 12px;
}

.article-inner_message-container a,
.header-inner a {
  transition: all 0.3s;
  text-decoration: none;
}

.article-inner_message-container a:hover,
.header-inner a:hover {
  color: #333;
}


.skill-section {
  background-color: #4e4e4e;
}

.skill-section-inner {
  padding: 70px 0 100px 0;
  color: #f2f2f2;
}

.skill-section-inner h2 {
  font-size: 24px;
}

.skill-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-item {
  margin-left: 180px;
}

.skill-item:first-child {
  margin-left: 0px;
}

.skill-item figcaption {
  margin-top: 15px;
  font-size: 16px;
}

.skill-item img {
  max-width: 100%;
}


.nav {
  background-color: #f2f2f2;
}

.nav-inner {
  padding: 200px 0;
}

.sns-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-icon {
  width: 185px;
  transition: all 0.3s;
}

.sns-icon a {
  padding: 26px 0;
  display: block;
}

.sns-icon:hover {
  background-color: #fff;
}

.my-sns {
  color: #74cfae;
}


.footer {
  background-color: #74cfae;
}

.footer-inner {
  color: #fff;
  padding: 20px 0 25px 0;
}

.footer-inner p {
  text-align: right;
}


@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }


  .section-inner {
    padding: 50px 0 25px 0;
    display: block;
    text-align: center;
  }

  .section-inner_contents {
    margin-top: 20px;
  }

  .section-inner_contents h2 {
    margin-top: 0;
  }

  .section-inner_contents p {
    margin: 0 auto;
    margin-top: 35px;
    width: 90%;
  }


  .article-inner_img-container {
    flex-direction: column;
    text-align: center;
  }

  .img-container_item {
    margin: 0;
  }

  .img-container_item:nth-child(3n+1) {
    margin-top: 80px;
  }

  .img-container_item:first-child {
    margin-top: 0;
  }

  .article-inner_message-container {
    display: block;
    margin-top: 80px;
  }

  .article-inner_message-container p {
    margin: 0 auto;
    width: 90%;
  }

  .article-inner_message-container a {
    display: inline-block;
    margin-left: 0;
    margin-top: 40px;
  }

  .skill-list {
    display: block;
  }

  .skill-item {
    margin-left: 0;
    margin-top: 88px;
  }

  .skill-item:first-child {
    margin-top: 0;
  }

}


@media screen and (max-width: 767px) {

  .header_contact-icon {
    display: none;
  }

  .hamburger-menu {
    display: block;
    float: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .my-menu {
    float: right;
    color: #c0c0c0;
  }


  .title-inner {
    padding: 160px 0 130px 0;
  }

  .title-inner h1 {
    font-size: 80px;
  }

  .title-inner p {
    font-size: 30px;
  }


  .nav-inner {
    padding: 50px 0;
  }

  .sns-wrap {
    flex-direction: column;
  }

  .sns-icon {
    width: auto;
  }

}
